@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.12rem;
    word-spacing: 0.16rem ;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4{
    margin:.3rem;
}

p{
    margin: 0 0 1.5rem 0;
}


input{
    border: solid black 2px;
    padding: .5rem;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
textarea{
    border: solid black 2px;
    padding: .5rem;
    width: 100%;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    resize: none;
}

button{
    border: solid black 2px;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: bold;
    margin: 0 .15rem;
    display: block;
}
button:hover{
    background-color: lightblue;
    color: black;
}

.task-table{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.task-table > li{
    padding: 1rem;
    min-width: 500px;
    border-radius: 5px;
}

.task-table > li:nth-child(odd){
    background-color: lightblue;
}
.task-view{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#task-title{
    margin-bottom: 2px;
    color: cornflowerblue;
}
#task-description{
    color: tomato;
    margin-bottom: 2px;
}
#spacer{
    height: 10px;
}

.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Classes */
.container{
    width: 80%;
    margin: 2rem auto;
}
